<div class="container ">

    <div class="row">
        <div class="col-sm-6 ">
            <div class="card new border-0" style="width:500px">
                <p class=".text-body contact3"><em>Blood For Life strives to provide the best service possible with every
                    contact!</em> </p>
                <br>
                <h3 class="contact1"><u>At Choice you always talk to a human!</u></h3>
                <br>
                <p class=".text-body contact3"><em>Have questions about background screening?
                    Our entire team receives specialized training regularly to ensure you're receiving the best information
                    possible.
                    From basic questions to complex compliance inquiries, we're here to help!</em> </p>
      
                <p class=".text-body contact3"><em>Interested in learning more about our services?
                    Our Account Executives take the time to discuss your existing background screening program
                    and help you make smart decisions that best meet your needs. </em> </p>
                <br>
                <br>
        </div>
        <div class="col-sm-6">dhg</div>
    </div>

</div>
</div>



