<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">

                PHMCH

            </a>
        </div>
        <div class="text-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">ABOUT US</a></li>
                <li class="active"><a href="#">ACADEMICS</a></li>
                <li class="active"><a href="#">ADMISSION</a></li>
                <li class="active"><a href="#">CAMPUS LIFE</a></li>
                <li class="active"><a href="#">DEPARTMENT</a></li>
                <li class="active"><a href="#">HOSPITAL</a></li>
                <li class="active"><a href="#">ALUMINI</a></li>
                <li class="active"><a href="#">RESULT</a></li>
                <li class="active"><a href="#">Notice</a></li>

            </ul>
        </div>

    </div>
</nav>

<div class="container">

</div>