
<div class="row">
    <div class="col-sm-6 not px-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTosjHaBBmCd0UA78rsJ7mqEavbaUl-6-vjciuDxDHGXHff4vtb">
       <div><h2> A well equipped Anatomy museum has been established with an aim to make students perfect in understanding the
        subject of Anatomy. Various specimens of different organs & models are present in the department besides charts,
        bones and skeletons, histological slides, audio/video C.D. that the faculty members avail to impart qualitative
        theoretical & practical teaching.</h2></div>
    </div>
    <div class="col-sm-6" style="background-color:lavender;">abcd</div>
</div>
